<% provide(:title, 'Ruby Tools') %>

<div class="span12">
	<div class="span11">
		<h4>Ruby & Rails Training Resources</h4>
		<p>My training is self-directed, utilizing a variety of resources, such as books, online coursework, tutorials, and peer collaboration. Here are some of the printed and online resources I've found useful.</p>
		<div class="offset1">
			<ul class="unstyled">
				<li><h5 id="books">Books</h5></li>
				<ul class="unstyled">
					<li> &nbsp <i class="icon-book"></i> &nbsp <%= link_to "Practical Object-Oriented Design in Ruby", "http://www.amazon.com/Practical-Object-Oriented-Design-Ruby-ebook/dp/B0096BYG7C/", target: "_blank" %> by Sandi Metz</li>
					<li> &nbsp <i class="icon-book"></i> &nbsp <%= link_to "Ruby on Rails Tutorial", "http://www.amazon.com/Ruby-Rails-Tutorial-Addison-Wesley-Professional/dp/0321832051/", target: "_blank" %> by Michael Hartl (Also available online at <%= link_to "railstutorial.org", "http://railstutorial.org", target: "_blank" %>)</li>
					<li> &nbsp <i class="icon-book"></i> &nbsp <%= link_to "The Well-Grounded Rubyist", "http://www.amazon.com/The-Well-Grounded-Rubyist-David-Black/dp/1933988657", target: "_blank" %> by David A. Black</li>
					<li> &nbsp <i class="icon-book"></i> &nbsp <%= link_to "Eloquent Ruby", "http://www.amazon.com/Eloquent-Ruby-Addison-Wesley-Professional-Series/dp/0321584104/", target: "_blank" %> by Russ Olsen</li>
					<li> &nbsp <i class="icon-book"></i> &nbsp <%= link_to "The RSpec Book", "http://www.amazon.com/RSpec-Book-Behaviour-Development-Cucumber/dp/1934356379", target: "_blank" %> by David Chelimsky</li>
					<li> &nbsp <i class="icon-book"></i> &nbsp <%= link_to "Everyday Rails Testing with RSpec", "https://leanpub.com/everydayrailsrspec", target: "_blank" %> by Aaron Sumner</li>
				</ul>
				<li><h5 id="Interactive">Interactive Courses</h5></li>
				<ul class="unstyled">
					<li> &nbsp <i class="icon-gamepad"></i> &nbsp <%= link_to "TryRuby.org", "http://www.tryruby.org", target: "_blank" %></li>
					<li> &nbsp <i class="icon-gamepad"></i> &nbsp <%= link_to "Codecademy", "http://www.codecademy.com", target: "_blank" %></li>
					<li> &nbsp <i class="icon-gamepad"></i> &nbsp <%= link_to "CodeSchool", "http://www.codeschool.com", target: "_blank" %></li>
					<li> &nbsp <i class="icon-gamepad"></i> &nbsp <%= link_to "Ruby Monk", "http://www.rubymonk.com", target: "_blank" %></li>
					<li> &nbsp <i class="icon-gamepad"></i> &nbsp <%= link_to "BerkeleyX CS-169", "https://www.edx.org/course-list/uc%20berkeleyx/computer%20science/allcourses", target: "_blank" %></li>
				</ul>
				<li><h5 id="other">Other Resources</h5></li>
				<ul class="unstyled">
					<li> &nbsp <i class="icon-puzzle-piece"></i> &nbsp <%= link_to "Rails Guides", "http://guides.rubyonrails.org/", target: "_blank" %></li>
					<li> &nbsp <i class="icon-puzzle-piece"></i> &nbsp <%= link_to "Ruby Rogues podcasts", "http://rubyrogues.com/", target: "_blank" %></li>
					<li> &nbsp <i class="icon-puzzle-piece"></i> &nbsp <%= link_to "JumpstartLab Tutorials", "http://tutorials.jumpstartlab.com/", target: "_blank" %></li>
					<li> &nbsp <i class="icon-puzzle-piece"></i> &nbsp <%= link_to "Exercism", "http://exercism.io/", target: "_blank" %></li>
					<li> &nbsp <i class="icon-puzzle-piece"></i> &nbsp <%= link_to "RailsCasts", "http://www.railscasts.com", target: "_blank" %></li>
					<li> &nbsp <i class="icon-puzzle-piece"></i> &nbsp <%= link_to "Denver-area Meetup groups", denvergroups_path, target: "_blank" %></li>				
				</ul>
			</ul>
		</div>
		<br>

		<h4>My Friends' Favorites</h4>
		<p>Here are some resources that my friends suggested adding to the site:</p>
		<div class="offset1">
			<ul class="unstyled">
				<li> &nbsp <i class="icon-star"></i> &nbsp <%= link_to "Learn to Program", "http://www.amazon.com/books/dp/1934356360", target: "_blank" %> by Chris Pine- A great book for introducing beginners to the world of Ruby programming.</li>
				<li> &nbsp <i class="icon-star"></i> &nbsp <%= link_to "DaVinci Coders", "http://davincicoders.com/course-description/", target: "_blank" %> 11-week Ruby on Rails training program in Louisville, CO.</li>
				<li> &nbsp <i class="icon-star"></i> &nbsp <%= link_to "gSchool", "http://www.gschool.it/", target: "_blank" %> 6-month developer bootcamp for Ruby on Rails, and other technologies in Denver, CO.</li>
			</ul>
		</div>
	</div>
</div>