<% provide(:title, 'Tech Gals') %>
<p>Denver Study Group- In May we had our first Denver Ruby study group organized through the Boulder-Denver Women Who Code chapter. Our next one is scheduled for 6:30pm on Thursday, June 27th, 2013. RSVP here: <a href="http://www.meetup.com/Women-Who-Code-Boulder-Denver/events/122702282/" target="_blank">Women Who Code- Denver Ruby Study Group #2</a></p>
<p>We have some awesome technical resources available both online and to us in the Denver area. Some favorites will be added here.<p>
	<div> 
		<ul>
			<li>DevChix- Devchix is a vibrant online community open to all women who are software developers or want to be software developers! <%= link_to "join us!", "http://www.devchix.com/join-devchix/", target: '_blank' %></li>
			<li>Women Who Code- The <%= link_to "Denver/Boulder chapter", "http://www.meetup.com/Women-Who-Code-Boulder-Denver/", target: "_blank" %> hosts regular events and study groups in Boulder and Denver. </li>
			<li>RailsBridge Workshops-The next workshop in the Denver area is scheduled for June 21st, 2013. <%= link_to "RSVP here", "http://www.meetup.com/Boulder-Denver-Railsbridge/", target: '_blank' %>.</li>
			<li><%= link_to "DeRailed", "http://www.meetup.com/DeRailed/", target: '_blank' %>- Rails user group meets in Denver, CO. Follow them on meetup.com.</li>
			<li><%= link_to "Boulder Ruby User Group", "http://boulderruby.org/", target: '_blank' %>- Meets monthly in Boulder, CO.</li>
			<li><%= link_to "Girl Geek Dinners", "http://www.meetup.com/Girl-Geek-Dinners-Boulder-Denver/", target: '_blank' %>- Held quarterly in the Denver/Boulder area.</li>
			<li><%= link_to "New Tech", "http://www.meetup.com/bdnewtech/", target: '_blank' %>- Monthly events in Denver, Boulder, and Ft. Collins.</li>
		</ul> 
	</div>

