<header class="navbar navbar-inverse">
	<div class="navbar-inner">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>	
		 <%= link_to "UnicornZero", root_path, id: "logo" %>
		<div class="nav-collapse">
			<ul class="nav pull-right">
				<li><a href="<%= studygroup_path %>"><%= image_tag("ruby_icon_small.png", alt: "Ruby", size: "14x18") %> Study Group</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Tech Gals
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Ruby Tools", rubytools_path %></li>
						<li><%= link_to "Denver Groups", denvergroups_path %></li>
						<li><a href="<%= studygroup_path %>"><%= image_tag("ruby_icon_small.png", alt: "Ruby", size: "14x18") %> Study Group</a></li>
					</ul>
				</li>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</div>
	</div>
</header>

