<div class="span12">
<div class="span8 offset2">
	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag "slide_u0sketch.png" %>
				<div class="carousel-caption">
					<h4>UnicornZero.com</h4>
					<p>Welcome to my domain...</p>
				</div>
			</div>
			<div class="item">
				<a href="<%= studygroup_path %>">
					<%= image_tag "rsg_08_3.jpg" %>
					<div class="carousel-caption">
						<h4>Ruby Study Group</h4>
						<p>Women of all skill levels practicing Ruby</p>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="<%= denvergroups_path %>">
					<%= image_tag "slide_denver.jpg" %>
					<div class="carousel-caption">
						<h4>Denver Groups</h4>
						<p>User and Meetup groups in Denver, CO</p>
					</div>
				</a>
			</div>

			<div class="item">
				<a href="<%= about_path %>">
					<%= image_tag "slide_unicornos.jpg" %>
					<div class="carousel-caption">
						<h4>About Me</h4>
						<p>Contact info and project work</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>
</div>

<script type="text/javascript">
	$('.carousel').carousel({
		interval: 5000
	})
</script>

